<mat-card>
  <mat-card-content>
    <div *ngIf="services.length > 0">
      <table class="styled-table">
        <thead>
          <tr>
            <th scope="col">Package</th>
            <th scope="col">Pickup Time</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Status</th>
            <th scope="col">Update status</th>
            <th scope="col">View more</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active-row" *ngFor="let service of services">
            <td>{{ service.serviceType }}</td>
            <td>{{ formatDate(service.pickupTime) }}</td>
            <td>{{ service.paymentMethod }}</td>
            <td>
              {{ service.status }} 
            </td>
            <td>
              <button mat-mini-fab color="basic" class="me-2" (click)="onUpdateStatusDialog(service.id)" matTooltip="Update status" [disabled]="service.status === 'Returned' || service.status === 'Cancelled'">
                <span class="material-icons">published_with_changes</span>
              </button>
            </td>
            <td>
              <!-- <a mat-mini-fab color="basic" class="me-2" [routerLink]="['/view-service', service.id]" matTooltip="View this item">
                <span class="material-icons">view_list</span>
              </a> -->
              <button mat-mini-fab color="basic" class="me-2" (click)=" onViewServiceDialog(service)" matTooltip="View this item">
                <span class="material-icons">view_list</span>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator class="mt-0"
        [length]="totalServices"
        [pageSize]="limit"
        [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page"
        (page) = "onPageChanged($event)">
      </mat-paginator>

    </div>
    <div *ngIf="services.length <= 0">
      <p>No services have been requested yet!</p>
    </div>
  </mat-card-content>
</mat-card>
