
<mat-card>
  <mat-card-title class="mb-3">Password Reset</mat-card-title>
  <mat-card-content>
    <div class="alert alert-success" role="alert" *ngIf="emailSent">
    <h4 class="alert-heading">Reset link sent successfully!</h4>
    <p>A password reset link was sent to your email. Click the link in the email to create a new password.</p>
    </div>
    <form (submit)="onForgotPassword(forgotPasswordForm)" #forgotPasswordForm="ngForm">
      <!-- Email -->
      <mat-form-field class="example-full-width">
        <mat-label>Email address</mat-label>
        <input matInput type="email" name="email" #email="ngModel" ngModel required email/>
        <mat-error *ngIf="email.invalid">Email address is <strong>required</strong></mat-error>
      </mat-form-field>  
      <!-- Login button -->
      <button class="mt-3" type="submit" mat-raised-button [disabled]="forgotPasswordForm.invalid">Proceed</button>
    </form>
  </mat-card-content>
</mat-card>
