<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container">
    <div class="section-title">
		<div class="row text-center mt-5 py-3">
			<div class="col-md-12">
				<div class="title">
					<h2>Services and Pricing</h2>
					<p>Our services are classified into three - Basic, advanced, and Premium.<br> Choose the one that fits your needs.</p>
				</div>
			</div>
		</div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="box">
          <h3>Basic</h3>
          <h4><sup>R</sup>659<span> / month</span></h4>
          <ul>
            <li>Washing</li>
            <li>Drying</li>
			<li class="na">Ironing</li>
            <li>Folding</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Order Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box recommended">
          <span class="recommended-badge">Recommended</span>
          <h3>Advanced</h3>
          <h4><sup>R</sup>829<span> / month</span></h4>
          <ul>
            <li>Washing</li>
            <li>Drying</li>
            <li>Ironing</li>
            <li>Folding</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Order Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="box">
          <h3>Premium</h3>
          <h4><sup>R</sup>719<span> / month</span></h4>
          <ul>
            <li class="na">Washing</li>
            <li class="na">Drying</li>
			<li>Ironing</li>
            <li class="na">Folding</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Pricing Section -->
