<!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">KeepItSkoon</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/" *ngIf="!userIsAuthenticated">Home</a></li>
          <!-- <li><a class="nav-link scrollto" href="#about">About</a></li> -->
          <li><a class="nav-link scrollto" href="#pricing" *ngIf="!userIsAuthenticated">Services</a></li>
          <li><a class="nav-link scrollto" href="#contact" *ngIf="!userIsAuthenticated">Contact</a></li>
          <li><a class="nav-link scrollto" routerLink="/signin" *ngIf="!userIsAuthenticated">Sign In</a></li>
          <li><a class="nav-link scrollto" routerLink="/signup" *ngIf="!userIsAuthenticated">Sign Up</a></li>
          <li><a class="nav-link scrollto" routerLink="/users" *ngIf="userIsAuthenticated">All Users</a></li>
          <li><a class="nav-link scrollto" routerLink="/request-service" *ngIf="userIsAuthenticated">Request</a></li>
          <li><a class="nav-link scrollto" routerLink="/services" *ngIf="userIsAuthenticated">Services</a></li>
          <li><a class="nav-link scrollto" routerLink="/my-profile" *ngIf="userIsAuthenticated">Profile</a></li>
          <li><a class="nav-link scrollto logout-nav-item" *ngIf="userIsAuthenticated" (click)="onLogout()">Sign Out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center" *ngIf="!userIsAuthenticated">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

