<nav>
	<input id="nav-toggle" type="checkbox">
	<div class="logo"><strong>KEEPITSKOON</strong></div>
	<ul class="links">
     <li><a class="nav-link scrollto active" routerLink="/" *ngIf="!userIsAuthenticated">Home</a></li>
      <!-- <li><a class="nav-link scrollto" href="#about">About</a></li> -->
      <li><a class="nav-link scrollto" href="#pricing" *ngIf="!userIsAuthenticated">Services</a></li>
      <li><a class="nav-link scrollto" href="#contact" *ngIf="!userIsAuthenticated">Contact</a></li>
      <li><a class="nav-link scrollto" routerLink="/signin" *ngIf="!userIsAuthenticated">Sign In</a></li>
      <li><a class="nav-link scrollto" routerLink="/signup" *ngIf="!userIsAuthenticated">Sign Up</a></li>
      <li><a class="nav-link scrollto" routerLink="/users" *ngIf="userIsAuthenticated">All Users</a></li>
      <li><a class="nav-link scrollto" routerLink="/request-service" *ngIf="userIsAuthenticated">Request</a></li>
      <li><a class="nav-link scrollto" routerLink="/services" *ngIf="userIsAuthenticated">Services</a></li>
      <li><a class="nav-link scrollto" routerLink="/my-profile" *ngIf="userIsAuthenticated">Profile</a></li>
      <li><a class="nav-link scrollto logout-nav-item" *ngIf="userIsAuthenticated" (click)="onLogout()">Sign Out</a></li>
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>