
<mat-card>
  <mat-card-title class="mb-3">Password Reset</mat-card-title>
  <mat-card-content>
    <div class="alert alert-success" role="alert" *ngIf="passwordResetSuccessful">
    <h4 class="alert-heading">Password reset was successful!</h4>
    <p>
        Your password has been reset. Please <a routerLink="/"> <strong>click here to log in.</strong></a>
    </p>
    </div>
    <form (submit)="onResetPassword(resetPasswordForm)" #resetPasswordForm="ngForm">
      <!-- New Password -->
      <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" name="newPassword" #newPassword="ngModel" ngModel required/>
        <mat-error *ngIf="newPassword.invalid">New password is <strong>required</strong></mat-error>
      </mat-form-field>  
      <!-- New Password Confirm -->
      <mat-form-field class="example-full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" name="newPasswordConfirm" #newPasswordConfirm="ngModel" ngModel required/>
        <mat-error *ngIf="newPasswordConfirm.invalid">New password confirmation is <strong>required</strong></mat-error>
      </mat-form-field>  
      <!-- Login button -->
      <button class="mt-3" type="submit" mat-raised-button [disabled]="resetPasswordForm.invalid">Reset</button>
    </form>
  </mat-card-content>
</mat-card>
