main {
    margin-top: 2%;
}

/* @media only screen and (max-width: 736px) and (orientation:portrait) {
    mat-header-row, mat-row {
      width: 100%; 
    }

    mat-row{
        font-size:8px;
    }

   mat-cell{
    font-size:8px;  
   }
} */