mat-form-field, input, mat-checkbox {
    width: 100%;
}
/* button {
    display: block;
    margin-left: auto;
} */

div, a {
    text-decoration: none;
    color: black;
} 

div, a:hover {
    color: #3F51B5;
} 